<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}All gone{{else}}Available!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">ORDER</button>
</li>
