<li>
	{{burger_name}} from: {{restaurant_name}}

	<button class="change-state" data-id="{{id}}" data-new="{{devoured}}">
		{{#if devoured}}I tried it{{else}}I want to eat it again{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>